html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #263A54;
  font-size: 1.6em;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 40px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: white;
  grid-column: 1/-1;
}

.header__search {
  width: 25%;
}

.header__socials {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 60px;
}

.header__socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.333333%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__socials a:hover {
  background-color: #56CCC8;
  cursor: pointer;
}

.header__socials a:hover svg {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.header__socials a:hover svg path {
  fill: white;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.header__search label:hover {
  cursor: pointer;
}

.header__search label:hover svg {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.header__search label:hover svg path {
  fill: #56CCC8;
}

.header__search-input {
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  border: none;
  background: white;
}

.header__login:hover {
  background-color: #56CCC8;
  cursor: pointer;
}

.header__login:hover svg {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.header__login:hover svg path {
  fill: white;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.navigation__hamburger {
  width: 60px;
  height: 60px;
  background-color: #56CCC8;
  position: relative;
  border: none;
  cursor: pointer;
}

.navigation__hamburger span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 3px;
  border-radius: 15px;
  background: white;
}

.navigation__hamburger span:nth-child(2) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.navigation__hamburger span:nth-child(3) {
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 60px;
  margin: 0 40px;
}

.navigation__list-item {
  display: block;
  width: 70px;
  text-align: center;
  cursor: pointer;
}

.navigation__list-item:hover {
  color: #56CCC8;
}

.side-menu {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.side-menu__left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/span 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-menu__left__list {
  list-style: none;
}

.side-menu__left .list__item {
  border-bottom: 1px solid #c5cdd1;
  height: 62px;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.side-menu__left .list__item a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 62px;
}

.side-menu__left .list__item:hover {
  background: #56CCC8;
}

.side-menu__left .list__item:hover a {
  color: white;
}

.side-menu__left .list__item:hover path {
  fill: white;
}

.side-menu__left .list__item svg {
  margin: 0 20px 0 10px;
  width: 24px;
}

.side-menu__left .list__item svg path {
  fill: #c5cdd1;
}

.side-menu__left .list__item .side-menu__link {
  text-decoration: none;
  color: black;
}

.side-menu__contact {
  background-color: #c5cdd1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-menu__contact svg {
  margin: 0 20px 0 10px;
  width: 24px;
}

.side-menu__contact svg path {
  fill: white;
}

.side-menu__contact p {
  color: white;
}

.side-menu__contact p a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

.side-menu__contact p a:hover {
  color: #3c7c7a;
}

.side-menu__contact .contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px;
}

.side-menu__right {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-menu__right .right__item {
  padding: 30px 30px;
  border-bottom: 2px solid #263A54;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  background-color: #152840;
}

.side-menu__right .right__item:hover {
  opacity: 0.95;
}

.side-menu__right .right__item:hover svg {
  -webkit-transform: translateX(-20px) rotate(-180deg);
          transform: translateX(-20px) rotate(-180deg);
}

.side-menu__right .right__item:last-child {
  border-bottom: none;
}

.side-menu__right .right__item p {
  color: #56CCC8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-menu__right .right__item p svg {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.side-menu__right .right__item ul {
  list-style: none;
}

.side-menu__right .right__item ul li {
  margin: 10px 0;
}

.side-menu__right .right__item ul li a {
  color: white;
  text-decoration: none;
}

.side-menu__right .right__item ul li a:hover {
  color: #56CCC8;
}

.right-grid {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

.right-grid__socials {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 40px;
}

.right-grid__socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-grid__socials-item:nth-child(1) svg {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.right-grid__socials-item:nth-child(1):hover {
  color: #4D6BAA;
}

.right-grid__socials-item:nth-child(1):hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid__socials-item:nth-child(1):hover svg ellipse {
  fill: #4D6BAA;
}

.right-grid__socials-item:nth-child(1):hover svg path {
  fill: white;
}

.right-grid__socials-item:nth-child(2) svg {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.right-grid__socials-item:nth-child(2):hover {
  color: #4FC6F8;
}

.right-grid__socials-item:nth-child(2):hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid__socials-item:nth-child(2):hover svg ellipse {
  fill: #4FC6F8;
}

.right-grid__socials-item:nth-child(2):hover svg path {
  fill: white;
}

.right-grid__socials-item:nth-child(3) svg {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.right-grid__socials-item:nth-child(3):hover {
  color: #EA6060;
}

.right-grid__socials-item:nth-child(3):hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid__socials-item:nth-child(3):hover svg ellipse {
  fill: #EA6060;
}

.right-grid__socials-item:nth-child(3):hover svg path {
  fill: white;
}

.right-grid__socials-item:nth-child(4) svg {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.right-grid__socials-item:nth-child(4):hover {
  color: #f26522;
}

.right-grid__socials-item:nth-child(4):hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid__socials-item:nth-child(4):hover svg ellipse {
  fill: #f26522;
}

.right-grid__socials-item:nth-child(4):hover svg path {
  fill: white;
}

.right-grid__socials-item:nth-child(5) svg {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.right-grid__socials-item:nth-child(5):hover {
  color: #e60023;
}

.right-grid__socials-item:nth-child(5):hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid__socials-item:nth-child(5):hover svg ellipse {
  fill: #e60023;
}

.right-grid__socials-item:nth-child(5):hover svg path {
  fill: white;
}

.right-grid__socials-item a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #475055;
}

.right-grid__socials-item a svg {
  margin-right: 20px;
}

.right-grid__facebook {
  grid-column: 2/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #4D6BAA;
  padding: 30px 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.right-grid__facebook .logo {
  position: absolute;
  top: 40px;
  left: 40px;
  -webkit-transform: translate(-50%, 50%) scale(3);
          transform: translate(-50%, 50%) scale(3);
}

.right-grid__facebook .logo path {
  fill: white;
}

.right-grid__facebook .fallow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-grid__facebook .fallow span {
  font-weight: bold;
  color: white;
}

.right-grid__facebook .fallow button {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.right-grid__facebook .fallow button:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid__facebook .fallow button svg {
  margin-left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right-grid__tweeter {
  grid-column: 2/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: #4FC6F8;
  padding: 30px 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.right-grid__tweeter .logo {
  position: absolute;
  top: 40px;
  left: 40px;
  -webkit-transform: translate(-50%, 50%) scale(3);
          transform: translate(-50%, 50%) scale(3);
}

.right-grid__tweeter .logo path {
  fill: white;
}

.right-grid__tweeter .fallow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-grid__tweeter .fallow span {
  font-weight: bold;
  color: white;
}

.right-grid__tweeter .fallow button {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.right-grid__tweeter .fallow button:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid__tweeter .fallow button svg {
  margin-left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right-grid__sign-in {
  grid-column: 1/-1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-grid__sign-in h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 10px;
}

.right-grid__sign-in p {
  font-weight: 300;
  margin-bottom: 30px;
}

.right-grid__sign-in svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid .sign-in__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-grid .sign-in__inner a:nth-child(1) svg {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.right-grid .sign-in__inner a:nth-child(1):hover {
  color: #4D6BAA;
}

.right-grid .sign-in__inner a:nth-child(1):hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid .sign-in__inner a:nth-child(1):hover svg ellipse {
  fill: #4D6BAA;
}

.right-grid .sign-in__inner a:nth-child(1):hover svg path {
  fill: white;
}

.right-grid .sign-in__inner a:nth-child(2) svg {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.right-grid .sign-in__inner a:nth-child(2):hover {
  color: #4FC6F8;
}

.right-grid .sign-in__inner a:nth-child(2):hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid .sign-in__inner a:nth-child(2):hover svg ellipse {
  fill: #4FC6F8;
}

.right-grid .sign-in__inner a:nth-child(2):hover svg path {
  fill: white;
}

.right-grid .sign-in__inner a:nth-child(3) svg {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.right-grid .sign-in__inner a:nth-child(3):hover {
  color: #EA6060;
}

.right-grid .sign-in__inner a:nth-child(3):hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid .sign-in__inner a:nth-child(3):hover svg ellipse {
  fill: #EA6060;
}

.right-grid .sign-in__inner a:nth-child(3):hover svg path {
  fill: white;
}

.right-grid .sign-in__inner a:nth-child(4) svg {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.right-grid .sign-in__inner a:nth-child(4):hover {
  color: #0e76a8;
}

.right-grid .sign-in__inner a:nth-child(4):hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid .sign-in__inner a:nth-child(4):hover svg ellipse {
  fill: #0e76a8;
}

.right-grid .sign-in__inner a:nth-child(4):hover svg path {
  fill: white;
}

.right-grid .sign-in__inner svg {
  margin: 0 10px;
}

.right-grid__newsletter {
  grid-column: 1/-1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  display: flex;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 40px;
}

.right-grid__newsletter h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 10px;
}

.right-grid__newsletter p {
  font-weight: 300;
  margin-bottom: 30px;
}

.right-grid__newsletter svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.right-grid__newsletter .sign-in__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-grid__newsletter .sign-in__inner input[type="email"] {
  width: 70%;
  height: 45px;
  padding: 5px 10px;
  font-size: 1.7rem;
}

.right-grid__newsletter .sign-in__inner .button {
  width: 25%;
  background-color: #EA6060;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
}

.slider-container {
  grid-column: 1/-1;
  position: relative;
}

.slider {
  height: 500px;
  background: gray;
  padding: 60px 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background: url("https://picsum.photos/800") no-repeat center;
  background-size: cover;
}

.slider__item {
  width: 700px;
  height: calc(50% + 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item h2 {
  font-size: 4.6rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-weight: 300;
}

.slider__item p {
  text-shadow: 1px 1px 1px black;
  color: white;
  font-size: 1.4rem;
}

.slider__item-btn {
  background: none;
  text-transform: uppercase;
  border: 2px solid white;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.6rem;
  color: white;
  padding: 5px 0;
  text-shadow: 1px 1px 1px black;
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
  cursor: pointer;
}

.slider__controler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.slider__controler .controler__item {
  width: 13px;
  height: 13px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 3px;
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
  cursor: pointer;
}

.slider__button {
  width: 30px;
  height: 50px;
  color: white;
  top: 50%;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__button--next {
  left: calc(100% - 30px);
  top: 50%;
  border-radius: 5px 0px 0px 5px;
}

.slider__button--next svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=style.css.map */