@mixin like {
    padding: 30px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .logo {
        // transform: scale(3);
        position: absolute;
        top: 40px;
        left: 40px;
        transform: translate(-50%, 50%) scale(3);

        path {
            fill: white;
        }
    }

    .fallow {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
            font-weight: bold;
            color: white;
        }

        button {
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            color: white;
            font-size: 1.6rem;
            cursor: pointer;

            &:hover {
                svg {
                    transform: scale(1.2);
                }
            }

            svg {
                margin-left: 10px;
                transition: 0.3s;
            }

        }
    }

}

@mixin subscribe {
    background: white;
    display: flex;
    padding: 10px 20px;
    // justify-content: space-around;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 2.5rem;
        font-weight: 300;
        margin: 10px;
    }

    p {
        font-weight: 300;
        margin-bottom: 30px;
    }

    svg {
        transform: scale(1.2);
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hover-header {
    &:hover {
        background-color: #56CCC8;
        cursor: pointer;

        svg {
            transform: scale(1.4);

            path {
                fill: white;
            }
        }
    }
}

@mixin social-hover($color) {

    svg {
        transition: 0.5s linear;
    }

    &:hover {
        color: $color;

        svg {
            transform: scale(1.2);
            ;

            ellipse {
                fill: $color;

            }

            path {
                fill: white;
            }
        }
    }

}