.right-grid {
    grid-column: 3/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;

    &__socials {
        grid-column: 1/2;
        grid-row: 1/3;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 40px;

        &-item {
            display: flex;
            align-items: center;

            &:nth-child(1) {
                @include social-hover(#4D6BAA);
            }

            &:nth-child(2) {
                @include social-hover(#4FC6F8);
            }

            &:nth-child(3) {
                @include social-hover(#EA6060);
            }

            &:nth-child(4) {
                @include social-hover(#f26522);
            }

            &:nth-child(5) {
                @include social-hover(#e60023);
            }

            a {
                display: block;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #475055;


                svg {
                    margin-right: 20px;

                }
            }




        }
    }

    &__facebook {
        grid-column: 2/-1;
        grid-row: 1/2;
        background-color: #4D6BAA;
        @include like;
    }

    &__tweeter {
        grid-column: 2/-1;
        grid-row: 2/3;
        background-color: #4FC6F8;
        @include like;
    }

    &__sign-in {
        grid-column: 1/-1;
        grid-row: 3/4;
        @include subscribe;

    }

    .sign-in__inner {
        width: 100%;
        display: flex;
        justify-content: center;

        svg {
            margin: 0 10px
        }
    }

    &__newsletter {
        grid-column: 1/-1;
        grid-row: 4/5;
        display: flex;

        @include subscribe;
        padding: 10px 40px;

        .sign-in__inner {
            display: flex;
            justify-content: space-between;

            input[type="email"] {
                width: 70%;
                height: 45px;
                padding: 5px 10px;
                font-size: 1.7rem;
            }

            input[type="button"] {
                width: 25%;
                background-color: #EA6060;
                text-transform: uppercase;
                color: white;
                border: none;
                border-radius: 5px;
                font-size: 1.7rem;
            }
        }
    }

}