.side-menu {
    grid-column: 1/3;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__left {
        grid-column: 1/span 1;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__list {
            list-style: none;
        }

        .list__item {
            border-bottom: 1px solid #c5cdd1;
            height: 62px;
            padding: 20px 20px;
            display: flex;
            align-items: center;
            color: white;

            a {
                display: block;
                display: flex;
                align-items: center;
                flex-grow: 1;
                height: 62px;
            }

            &:hover {
                background: #56CCC8;

                a {
                    color: white;
                }

                path {
                    fill: white;
                }
            }

            svg {
                margin: 0 20px 0 10px;
                width: 24px;

                path {
                    fill: #c5cdd1;

                }
            }

            .side-menu__link {
                text-decoration: none;
                color: black;
            }
        }
    }

    &__contact {
        background-color: #c5cdd1;
        display: flex;
        flex-direction: column;
        flex: 1 1;
        justify-content: center;

        svg {
            margin: 0 20px 0 10px;
            width: 24px;

            path {
                fill: white;
            }
        }

        p {
            color: white;

            a {
                text-decoration: none;
                color: white;
                margin: 0;
                padding: 0;

                &:hover {
                    color: rgb(60, 124, 122);
                }
            }
        }

        .contact__item {
            display: flex;
            padding: 20px 20px;
        }
    }

    &__right {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .right__item {
            padding: 30px 30px;
            border-bottom: 2px solid #263A54;
            flex: 1 1;
            background-color: #152840;

            &:hover {
                opacity: 0.95;

                svg {
                    transform: translateX(-20px) rotate(-180deg);
                }
            }

            &:last-child {
                border-bottom: none;
            }

            p {
                color: #56CCC8;
                display: flex;
                justify-content: space-between;

                svg {
                    transition: 0.5s linear;
                }
            }

            ul {
                list-style: none;

                li {
                    margin: 10px 0;

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover {
                            color: #56CCC8
                        }
                    }
                }
            }
        }
    }
}