.slider-container {
    grid-column: 1/-1;
    position: relative;
}

.slider {
    height: 500px;
    background: gray;
    padding: 60px 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: url('https://picsum.photos/800') no-repeat center;
    background-size: cover;

    &__item {
        width: 700px;
        height: calc(50% + 5px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-size: 4.6rem;
            color: white;
            font-weight: 300;
        }

        p {
            color: white;
            font-size: 1.4rem;
        }
    }

    &__item-btn {
        background: none;
        text-transform: uppercase;
        border: 2px solid white;
        width: 170px;
        height: 50px;
        border-radius: 5px;
        font-size: 1.6rem;
        color: white;
        padding: 5px 0;
    }

    &__controler {
        display: flex;
        align-self: center;

        .controler__item {
            width: 13px;
            height: 13px;
            border: 1px solid white;
            border-radius: 50%;
            margin: 3px;
        }
    }

    &__button {
        width: 30px;
        height: 50px;
        color: white;
        top: 50%;
        left: 0;
        position: absolute;
        transform: translateY(-50%);
        border: none;
        border-radius: 0 5px 5px 0;
        @include flex-center;

        &--prev {}

        &--next {
            left: calc(100% - 30px);
            top: 50%;
            border-radius: 5px 0px 0px 5px;

            svg {
                transform: rotate(180deg);
            }
        }
    }
}